@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 257 18% 23%;
    --foreground: 30 67% 94%;

    --primary: 257 14% 38%;
    --primary-foreground: 30 67% 94%;

    --secondary: 256 15% 74%;
    --secondary-foreground: 257 18% 23%;

    --muted: 30 0% 88%;
    --muted-foreground: 30 0% 88%;

    --radius: 0.5rem;
  }

  .dark {}
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}