@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 67% 94%;
    --foreground: 257 18% 23%;

    --primary: 256 15% 74%;
    --primary-foreground: 257 14% 38%;

    --secondary: 257 14% 38%;
    --secondary-foreground: 30 67% 94%;

    --muted: 257, 27%, 62%;
    --muted-foreground: 257, 27%, 62%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 257 18% 23%;
    --foreground: 30 67% 94%;

    --primary: 257 14% 38%;
    --primary-foreground: 30 67% 94%;

    --secondary: 256 15% 74%;
    --secondary-foreground: 257 18% 23%;

    --muted: 30 0% 88%;
    --muted-foreground: 30 0% 88%;
  }
}

@layer base {
  * {
    @apply box-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}